*{
    margin: 0;
}

body{
	background: #e4fde1;
    text-align: center;
    margin-top: 30px;
}

h1{
	color: #dd614a;
    font-style: bold;
    font-size: 50px;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

.logoImage {
    width: 25%;
    height: 25%;
}

p{
    text-align: center;
    font-size: small;
    color: #025F70;
    margin-right: 15px;
    margin-top: 10px;
    display: inline-block;
    font-family: 'Playfair Display', serif;
}

input{
	border-radius: 8px;
	min-width: 62%;
	padding: 8px;
    border: solid #ffcdb7;
    background-color: white;
    text-align: center;
}

#enter{
	padding: 7px 15px;
	border-radius: 5px;
    background-color: #dd614a;
    color: white;
    font-weight: 400;
    margin-right: 5px;
}

ul{
	text-align: left;
	margin-top: 25px;
    padding: 0;
}

li{
	list-style: none;
    padding: 10px 25px;
	color: #ffffff;
	font-weight: 800;
	border: 2px solid #ff9b71;
	border-radius: 10px;
	margin-bottom: 10px;
    background: #dd614a;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}

li:hover{
	background: #abd1c5;
}

li > button{
	background: none;
	border: none;
	float: right;
	color: #fc8d5e;
}

.done{
	background: #6ba292 !important;
	color: white
}

.delete{
    display: none;
}

#footer{
    background-color: #6ba292;
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 14px;
    width: 100%;
    margin: 0;
}
